# Angular / Node
client/node_modules/
client/dist/
client/.angular/
client/.vscode/

# .NET
server/bin/
server/obj/
server/*.user
server/appsettings.Development.json

# OS
.DS_Store
Thumbs.db

# Env
*.env